+b.HEADER.header
	+e.wrapper
		+e.left
			+e.logo
				+svg("logo")
		+e.menu.for-desktop
			+e.list
				+e.A.link.js-scroll-link(href="#section1" data-target="section1") Покоряй себя
				+e.A.link.js-scroll-link(href="#section2" data-target="section2") История
				+e.A.link.js-scroll-link(href="#section3" data-target="section3") Продукция
				+e.A.link.js-scroll-link(href="#section4" data-target="section4") Предложение
				+e.A.link.js-scroll-link(href="#section5" data-target="section5") Контакты
		+e.right
			+e.lang
				p Русский
